# ---- R ----
.Rproj.user
.Rhistory
.RData
.Ruserdata
CRAN-SUBMISSION

# ---- Python ----
__pycache__/
*.py[cod]

# ---- Quarto ----
.quarto/
_quarto/

# ---- OS ----
.DS_Store

# ---- Secrets ----
.httr-oauth
.env
